body {
  margin: 0;
  font-family: Arial;
  background: #f1f3f6;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2874f0;
  color: white;
  padding: 10px;
}

.logo {
  font-size: 20px;
}

.navbar input {
  width: 40%;
  padding: 8px;
}

.nav-links a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

/* CATEGORY BAR */
.categories {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px;
}

/* BANNER */
.banner {
  height: 250px;
  background: linear-gradient(to right, #42a5f5, #1e88e5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PRODUCTS */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background: white;
  padding: 15px;
  margin: 10px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  box-shadow: 0 0 10px gray;
  transform: scale(1.05);
}

button {
  background: #fb641b;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
